<nz-card>
  <nz-table [nzData]="operationLogs$ | async" nzSize="small" #operationLogsTable>
    <thead>
      <tr>
        <th>Time</th>
        <th>Username</th>
        <th>Table</th>
        <th>Action</th>
        <th>IP Address</th>
        <th>Request</th>
        <th>Payload</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-opLogs [ngForOf]="operationLogsTable.data">
        <tr>
          <td>{{ opLogs.time }}</td>
          <td>{{ opLogs.username }}</td>
          <td>{{ opLogs.table }}</td>
          <td>{{ opLogs.action }}</td>
          <td>{{ opLogs.ipAddress }}</td>
          <td>{{ opLogs.request }}</td>
          <td>{{ opLogs.payload }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
