<nz-card>
  <st #operationLogsTable [data]="operationLogs$ | async" [columns]="columns" [expand]="expand" expandRowByClick expandAccordion>
    <ng-template #expand let-item let-index="index" let-column="column">
      <p nz-typography nzEllipsis nzExpandable>
        {{ item.url }}
      </p>
    </ng-template>
  </st>
  <!-- <nz-table [nzData]="operationLogs$ | async" nzSize="small" #operationLogsTable>
    <thead>
      <tr>
        <th>User Name</th>
        <th>IP Address</th>
        <th>Time</th>
        <th>Action</th>
        <th>Request URL</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-opLogs [ngForOf]="operationLogsTable.data">
        <tr>
          <td>{{ opLogs.user_name }}</td>
          <td>{{ opLogs.ip }}</td>
          <td>{{ opLogs.timestamp }}</td>
          <td>{{ opLogs.method }}</td>
          <td>{{ opLogs.url }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table> -->
</nz-card>
