<nz-alert
  nzType="warning"
  nzMessage="Notice and Consent Warning"
  nzDescription="You are accessing a TSAR POC website. 
  You may access this information system for authorized use only; 
  unauthorized use of the system is prohibited . This information system may contain Controlled Information that is subject 
  to safeguarding or dissemination controls in accordance with regulation and government-wide policy."
>
</nz-alert>
<br />
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter your LDAP username.">
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="userName" placeholder="username: JBondID" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter your LDAP password.">
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="password: LDAP password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">Remember me</label>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      Login
    </button>
  </nz-form-item>
</form>
