<app-magical-expander [fullscreen]="isFullscreen">
  <nz-card>
    <div nz-row class="mb-md">
      <div nz-col nzMd="24" nzLg="18">
        <app-series-filters></app-series-filters>
      </div>
      <div nz-col nzMd="0" nzLg="6">
        <div class="text-right">
          <nz-space>
            <nz-space-item>
              <button nz-button nz-dropdown [nzDropdownMenu]="exportMenu">
                <span>Export</span>
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #exportMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="downloadGraph('jpg')">JPG</li>
                  <li nz-menu-item nzDisabled>PNG</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space-item>
            <nz-space-item>
              <button nz-button [nzType]="'default'" (click)="toggleFullscreen()">
                <i nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></i>
              </button>
            </nz-space-item>
            <nz-space-item>
              <button nz-button nzType="link" (click)="toggleAdvSearch()">
                {{ showAdvSearch ? 'Collapse' : 'Expand' }}<i nz-icon [nzType]="showAdvSearch ? 'up' : 'down'"></i>
              </button>
            </nz-space-item>
          </nz-space>
        </div>
      </div>
    </div>
    <app-series-upload [hidden]="!showAdvSearch"></app-series-upload>
    <nz-divider nzDashed style="margin: 8px 0;"></nz-divider>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="22" nzLg="20">
        <!-- <div style="height: 450px"> -->
        <div #screen>
          <div id="sGraph"></div>
        </div>

        <!-- <div>
        <div id="container"></div>
      </div> -->
        <!-- </div> -->
      </div>

      <!-- <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
      <div class="rank">
        <h4 class="ranking-title">TSAR Ranking</h4>
        <ul class="rank-list">
          <li>
            <span class="number" style="color: #fff;background-color: #314659;">1</span>
            <span class="title">Series No. 1 Sale</span>
            <span class="value">234,462</span>
          </li>
          <li>
            <span class="number" style="color: #fff;background-color: #314659;">2</span>
            <span class="title">Series No. 2 Sale</span>
            <span class="value">234,462</span>
          </li>
          <li>
            <span class="number" style="color: #fff;background-color: #314659;">3</span>
            <span class="title">Series No. 3 Sale</span>
            <span class="value">234,462</span>
          </li>
          <li>
            <span class="number">4</span>
            <span class="title">Series No. 4 Sale</span>
            <span class="value">234,462</span>
          </li>
          <li>
            <span class="number">5</span>
            <span class="title">Series No. 5 Sale</span>
            <span class="value">234,462</span>
          </li>
        </ul>
      </div>
    </div> -->
    </div>
  </nz-card>
</app-magical-expander>
