<form [formGroup]="filters">
  <nz-space>
    <nz-space-item>
      <app-table-filter formControlName="tables"></app-table-filter>
    </nz-space-item>
    <nz-space-item>
      <app-item-type-filter formControlName="itemTypes"></app-item-type-filter>
    </nz-space-item>
    <nz-space-item>
      <nz-radio-group formControlName="view">
        <label *ngFor="let view of views" nz-radio-button [nzValue]="view">{{ view }}</label>
      </nz-radio-group>
    </nz-space-item>
    <nz-space-item>
      <nz-select [formControl]="from" style="width: 120px;">
        <nz-option
          *ngFor="let statP of statPeriods$ | async"
          [nzLabel]="statP.slice(3)"
          [nzValue]="statP"
          [nzDisabled]="disabledStartDate(statP)"
        >
        </nz-option>
      </nz-select>
    </nz-space-item>
    <nz-space-item>
      <nz-select [formControl]="to" style="width: 120px;">
        <nz-option
          *ngFor="let statP of statPeriods$ | async"
          [nzLabel]="statP.slice(3)"
          [nzValue]="statP"
          [nzDisabled]="disabledEndDate(statP)"
        >
        </nz-option>
      </nz-select>
    </nz-space-item>
  </nz-space>
</form>
