<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{ settings.app.name }}" style="max-height: 40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{ settings.app.name }}" style="max-height: 30px;" />
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{ settings.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
    <!-- Github Page -->
    <li>
      <a class="alain-default__nav-item" href="//https://github.com/happyandrewli/tsar" target="_blank">
        <i nz-icon nzType="github"></i>
      </a>
    </li>
    <!-- Search Button -->
    <li class="hidden-pc" (click)="searchToggleChange()">
      <div class="alain-default__nav-item">
        <i nz-icon nzType="search"></i>
      </div>
    </li>
  </ul>

  <!-- <input placeholder="Search..." [formControl]="control" [appAutoComplete]="autocomplete">

  <app-autocomplete #autocomplete>
    <ng-template appAutoCompleteContent>
      <ng-container *ngIf="(options | filter: control.value) as result">
        <app-option *ngFor="let option of result" [value]="option.label">
          {{ option.label }}
        </app-option>
        <app-option class="no-result" *ngIf="!result.length">No result...</app-option>
      </ng-container>
    </ng-template>
  </app-autocomplete> -->

  <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
  <ul class="alain-default__nav">
    <!-- Settings -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
        <i nz-icon nzType="setting"></i>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu style="width: 200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item [nzDisabled]="true">v1.0.0 - US Census Bureau <i nz-icon nzType="copyright"></i></div>
        </div>
      </nz-dropdown-menu>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
